<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="ClientSecret" value="EYs5LY6HEjbQfvYLg+MCs8GVrpj8pjNYPRCl7oPYH34="/>
		<add key="ClientId" value="c50855b3-a226-49a8-b000-ccf7280d02c8"/>
		<add key="AuthorizationUri" value="https://login.windows.net/85e5f09b-4c17-4d80-afea-260bb171c456/oauth2/authorize"/>
		<add key="CertPath" value="c:\Certs\ClientCredentialsFlow\app_only_private.pfx"/>
		<add key="CertPassWord" value="QazWsx123"/>
		<add key="SPResourceURL" value="https://fabricamapps.sharepoint.com"/>
	</appSettings>
</configuration>